[core]
        excludesfile = /Users/maartenn/.gitignore
        commentchar = ";"
[user]
        email = maarten.nusteling@gmail.com
        name = Maarten Nusteling
[init]
        defaultBranch = main
[push]
        autoSetupRemote = true
        default = current
