[user]
    email = maarten.nusteling@gmail.com
    name = Maarten Nusteling
	signingkey = /Users/maartenn/.ssh/id_ed25519_sign

[init]
    defaultBranch = main

[push]
    autoSetupRemote = true
    default = current

[gpg]
	format = ssh

[commit]
	gpgsign = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
